<div class="panel-group" id="image-list" role="tablist" aria-multiselectable="true">
  <div ng-repeat="(index, img) in image.list" ng-click="image.select(img)" class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a ng-click="image.loadTag(img)"
           class="collapsed"
           role="button"
           data-toggle="collapse"
           data-parent="#accordion"
           href="#collapse{{ index }}"
           aria-expanded="false"
           aria-controls="collapse{{ index }}">
           {{ img.name }}
          </a>
      </h4>
    </div>
    <div id="collapse{{ index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ index }}">
      <div id="image-tag-list" class="panel-body">
        <ul>
          <li ng-repeat="tag in img.tags">{{ tag }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
